body{
    font-family: font-family: 'Open Sans', sans-serif;;
}
.banner-container{
    background-color:   #CACACA;
}
.banner-column{
    background-color: #8C8C8C;
}
.navbar-container{
    top: 0;
    background-color: #262A36;
    position: sticky;
    z-index: 2;

}
.about-container{
    background-color: #01BBBB;
}
.education-container{
    background-color: #EDEDED;
}
.bg-redtype{
    background-color: #FB847E;
}
.redtype-color{
    color: #FB847E;
}
.circle{
    background-color: #FB847E;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.project-container{
    background-color: #2BB1E0;
}