body{
    font-family: font-family: 'Open Sans', sans-serif;;
}
.banner-container{
    background-color:   #CACACA;
}
.banner-column{
    background-color: #8C8C8C;
}
.navbar-container{
    background-color: #262A36;

}
